extends layout

block content
  h1= title

  div
    select(data-bind="options: users, optionsText: 'name'")

  div
    form(action='/matchCalculate',method='post')
        div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
                label(for='teamOneMean') Team One Mean
                input(id='teamOneMean',type='text',value=teamOneMean,placeholder='',name='teamOneMean')
            fieldset(data-role='controlgroup')
                label(for='teamOneStd') Team One Std
                input(id='teamOneStd',type='text',value=teamOneStd,placeholder='',name='teamOneStd')
            fieldset(data-role='controlgroup')
                label(for='teamOneRank') Team One Rank
                input(id='teamOneRank',type='text',value=teamOneRank,placeholder='',name='teamOneRank')
            fieldset(data-role='controlgroup')
                label(for='teamTwoMean') Team Two Mean
                input(id='teamTwoMean',type='text',value=teamTwoMean,placeholder='',name='teamTwoMean')
            fieldset(data-role='controlgroup')
                label(for='teamTwoStd') Team Two Std
                input(id='teamTwoStd',type='text',value=teamTwoStd,placeholder='',name='teamTwoStd')
            fieldset(data-role='controlgroup')
                label(for='teamTwoRank') Team Two Rank
                input(id='teamTwoRank',type='text',value=teamTwoRank,placeholder='',name='teamTwoRank')
        div(data-role='fieldcontain')
            input(type='submit',value='Calculate',data-transition='fade', data-theme='c')

    p Team 1 Updated Rating: #{teamOneNewRating}
    p Team 2 Updated Rating: #{teamTwoNewRating}

    block scripts
    script(type='text/javascript', src='/javascript/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/knockout-2.1.0.js')
    script(type='text/javascript', src='/javascript/userModel.js')
